version: "3"

services:
    postgres_db:
        image: postgres
        volumes: 
            - postgres_vol:/var/lib/postgresql/data
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=admin
            - POSTGRES_DB=tasks_reminder
        networks:
            - inner_net
        
    tasks_django:
        build: ./
        image: tasks_django
        depends_on:
            - postgres_db
        networks:
            - inner_net
            - gateway

    nginx:
        image: nginx
        networks:
            - gateway
        ports:
            - 8080:8080
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
            - ./main/static/main/:/app/static/main/:ro
        depends_on:
            - postgres_db
            - tasks_django
            - pgadmin

networks:
    inner_net:
    gateway:

volumes:
    postgres_vol:
