apiVersion: apps/v1
kind: Deployment
metadata:
  name: tasks-django
  labels:
    app: tasks-django
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tasks-django
  template:
    metadata:
      labels:
        app: tasks-django
    spec:
      containers:
        - name: tasks-django
          image: tasks-django:0.2.0
          env:
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: task-django-secret
                  key: SECRET_KEY
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: tasks-reminder-config
                  key: DB_NAME
            - name: POSTGRES_HOST
              valueFrom:
                configMapKeyRef:
                  name: tasks-reminder-config
                  key: DB_HOSTNAME
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASSWORD