<tr>
    <td class="align-middle">
        <span>Shard from: {{record.username}}</span>
        <br>
        <h5 class="text-break my-0">
            {{record.name}}
        </h5>
    </td>
    <td class="align-middle">
        <!-- Quite complicated because it didnt show zeros. E.g. not 07:00, but 7:0 -->
        <h4 class="my-0">{{record.todo_timestamp.isoformat.11}}{{record.todo_timestamp.isoformat.12}}:{{record.todo_timestamp.isoformat.14}}{{record.todo_timestamp.isoformat.15}}</h4>
    </td>
    <td colspan="4" class="align-middle px-1">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="date_change" value={{date_change}}>
            <button class="btn btn-outline-dark border-0 pt-lg-1 px-1" type="submit" name="share_delete" value={{record.id}}>
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"></path>
                </svg> 
            </button>
        </form>
    </td>
</tr>
